@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
    margin: 0;


}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
    border: none;
    background-color: #031116;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: white;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border:1px solid #657b83;
  color:#657b83;
  background-color: #031116;
;
}
button,
input {
    line-height: normal;
    size:60;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input {
    padding: 8px;
    margin-right: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
    cursor: text;
    font-weight: 200;

}
input.connect {
    #position: absolute;
    #width: 160px;
    #height: 32px;
    #left: 1064px;
    #top: 32px;
    padding: 8px;

    /* Revert/Green */

    background: #14F46F;
    border: 0px solid #8EF0B6;
    box-sizing: border-box;
    /* GreenBtn */

    box-shadow: -2px -2px 6px rgba(20, 244, 111, 0.3), 3px 5px 8px rgba(0, 0, 0, 0.65), inset 2px 2px 2px rgba(50, 148, 90, 0.3), inset -1px -1px 0px #12E166;
    border-radius: 6px;


    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #031116;
    #opacity: 0.7;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Inconsolata', sans-serif;
}
pre,
code {
  font-family: 'Inconsolata', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inconsolata', sans-serif;
    
}
html {
  
  color: #657b83;
  margin: 1em;
  background-color: #031116;
  
}
body {
    background-color: #031116;
  margin: 0 auto;
  #max-width: 23cm;
  border: 0pt solid #212121;
  padding: 1em;

  #background: linear-gradient(180deg, rgba(30, 41, 45, 0.375) 0%, rgba(3, 17, 22, 0.25) 100%);

}

table.styled-table {
    width: 100%;
}

table.styled-table td {
    border-width: 0 0 1px 0;
    border-color: #212121;
    border-style: solid;
    padding: 10px 0;
}

table.styled-table tr:last-child td {
    border-style: none;
}

table.styled-table td.white,
table.styled-table td.white a {
    color: white;
}

table.styled-table td,
table.styled-table td a {
    color: #89A58E;
}


table.top-positions tr:not(:first-child) td:nth-child(8) {
    padding:0;
    padding-left: 20px;
    width:300px;
}

table.styled-table td.align-right {
    text-align: right;
}  

table.styled-table td.align-center {
    text-align: center;
}  


div.outbox {
    /* Rectangle 2 */

    background-color:  #031116;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    /* Revert/Dark */

    border: 16px solid #031116;
    box-sizing: border-box;


    border: 16px solid #031116;
    box-sizing: border-box;
    filter: drop-shadow(-1px -1px 2px #0C3A4A), drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.3));
    border-radius: 24px;


}
div.app {
    background-color: #1E292D;
    margin: 0 auto;
    max-width: 1200px;
    border: 3px solid #212121;
    padding-top: 14px;
    border: 16px solid #031116;
    box-sizing: border-box;

    width: 1440px;
    #height: 1116px;
    left: 0px;
    top: 0px;

    /* Revert/Dark */
    #background: linear-gradient(180deg, #1E292D 0%, #031116 100%);
    background-color: #0F1C20;
    border: 1px solid #485256;
    border-radius: 8px;

}

div.app-inner {
    padding: 60px;
    padding-top:0px;
    padding-bottom:0px;
    
}


hr.top-line {
    border: none;
    height: 1px;
    color: #14F46F; /* old IE */
    background: linear-gradient(90deg,#14F46F 0%, #1E292D 100%);
}

code {
    background-color: #031116;
  padding: 2px;
}
a {
    color:#657b83;
  
}
a:visited {
    color: #657b83;
}
a:hover {
    color: #A54354;
}
h1 {
  color: #d33682;
}
h2,
h3,
h4,
h5,
h6 {
    color: rgb(0,166,61);
    margin-top:6px;
    margin-bottom:12px;
}
div.inner-box {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #031116;
    color: #657b83;
    /*border: 0px solid #031116;*/
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
}

div.lp-inner-box {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #031116;
    color: #657b83;
     /*border: 0px solid #031116;*/
    box-sizing: border-box;
    padding: 30px;
    padding-top: 20px;
    padding-bottom:10px;
    border-radius: 8px;

}

pre code {
    background-color: #031116;
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.15em;
}
span.neg {color: rgb(222,8,55);}
span.pos {color: #14F46F;
          text-shadow: 0px 0px 8px rgba(20, 244, 111, 0.4);
}

div.bigneg {color: rgb(222,8,55);
            font-family: Regio Mono, monospace;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.005em;
            text-shadow: 0px 0px 8px rgba(222, 8, 55, 0.4);



           }

div.bigpos {    font-family: Regio Mono, monospace;
                 font-style: normal;
                 font-weight: 600;
                 font-size: 20px;
                 line-height: 20px;
                 /* identical to box height, or 100% */

                 letter-spacing: 0.005em;

                 color: #14F46F;
                 text-shadow: 0px 0px 8px rgba(20, 244, 111, 0.4);

}

div.bigneutral {color: rgb(255,255,255);
            font-family: Regio Mono, monospace;
            font-style: normal;
            font-weight: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            /* identical to box height, or 133% */
            /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35); */
            text-shadow: 0px 0px 8px rgba(20, 244, 111, 0.4);
           }

code.smallx {
    font-size:16px;
    color: white;
    padding:2px;
    margin-left: 4px;
    border-radius: 2
    margin-right:0px;

}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

div.connect {
    float:right;
    margin-top:5px;
    margin-bottom:0px;
    color: #14F46F;
    margin-right:14px;
}

div.incentives, div.top-positions {
    float:right;
    margin-top:12px;
    margin-bottom:0px;
    color: #14F46F;
    margin-right:10px;
}
div.subtitle {
    /*position: absolute;
    width: 164px;
    height: 24px;
    left: 184px;
    top: 324px;*/


    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: 0.055em;

    color: #E8F9EE;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);

}



div.subtitle2, span.subtitle2 {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 133% */

    letter-spacing: 0.055em;

    color: #E8F9EE;
    margin-bottom:8px;
   # text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);

}

.subtitle3 {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 133% */

    letter-spacing: 0.055em;

    color: #E8F9EE;
    margin-bottom:8px;
    # text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);

}


.pos-log {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #E8F9EE;
    margin-bottom:-6px;
    margin-top:30px;
}

.pos-log.no-margin {
    margin: 0;
}

pos-log.a :link {
    text-decoration: underline;
}

::placeholder {
    color: #657b83;
}


/* Switches */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #14F46F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #14F46F;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}


.slider.round:before {
    border-radius: 50%;
}




.lp-pos-header {
    display: inline-block;
    width: 100%;
    height:100%;
    vertical-align:top;
}

.lp-pos-header-segment-left {
    width: 75%;
    display: inline-block;
    vertical-align:top;
    margin-top:10px;
}


.lp-pos-header-segment-right {
    width: 25%;
    display: inline-block;
    vertical-align:top;
    text-align: right;
    margin-top:10px;
}

a.lp-pos-link:link, a.lp-pos-link:visited {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Revert/Green */

    color: #14F46F;
    opacity: 1;
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;
    text-decoration:none;
}

.margin-top-6 {
    margin-top: 6px;
}

.margin-left-20 {
    margin-left: 10px;
}

.lp-pos-header-tiny {
    width: 5%;
    display: inline-block;
    vertical-align:top;
}

.lp-pos-header-segment1 {
    width: 20%;
    display: inline-block;
    vertical-align:top;
}

.lp-pos-header-segment2 {
    width: 20%;
    display: inline-block;
}

.lp-pos-header-segment3 {
    width: 20%;
    display: inline-block;
}

.lp-pos-header-segment4 {
    width: 20%;
    display: inline-block;
}

.lp-pos-header-segment5 {
    width: 20%;
    display: inline-block;
}

.lp-pos-header-segment12 {
    width: 40%;
    display: inline-block;
    vertical-align:top;
}


.lp-pos-info-segment1 {
    width: 18%;
    display: inline-block;
    vertical-align:top;
}

.lp-pos-info-segment2 {
    width: 26%;
    display: inline-block;
    vertical-align:top;
}

.lp-pos-info-segment3 {
    width: 28%;
    display: inline-block;
    vertical-align:top;

}

.lp-pos-info-segment4 {
    width: 28%;
    display: inline-block;
    vertical-align:top;

}

.lp-pos-info-segment12 {
    width: 56%;
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
}

.lp-pos-info-segment34 {
    width: 44%;
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
}

.lp-pos-info-segmenta {
    width: 50%;
    display: inline-block;
    vertical-align:top;
}

.lp-pos-info-segmentb {
    width: 50%;
    display: inline-block;
    vertical-align:top;
}


.lp-pos-header-ignore-button {
    margin-bottom:-26px;
    float:right;

}

.lp-pos-info-segment_pool {
    width: 59%;
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
}

.lp-pos-info-segment_total {
    width: 41%;
    display: inline-block;
    vertical-align:top;
    overflow:hidden;
}


.lp-pos-header-subtitle {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.005em;

    color: #89A58E;
    margin-bottom: 2px;
}

.lp-pos-header-subtitle-v3 {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.005em;

    color: #fff;
    margin-bottom: 2px;
}


.lp-pos-subtitle {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 171% */

    letter-spacing: 0.005em;

    color: #89A58E;
    margin-bottom: 0px;
}

.lp-pos-assets {
    margin-top:8px;
    margin-bottom:8px;
}

.lp-title {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    overflow: hidden;
    letter-spacing: 0.005em;

    color: #E8F9EE;

}


.lp-assets {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.005em;

    color: #E8F9EE;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.05);
}

.initiator-sparklines {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.005em;

    color: #E8F9EE;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.05);
    margin-top: -10px;
}




hr.lp-header-divider {
    border: none;
    height: 1px;
    background: rgba(232, 249, 238, 0.1);
    margin-top: 10px;
}



.landing-box {
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 500px;

}
.landing-banner {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    
    /* or 114% */

    letter-spacing: 0.055em;

    color: #E8F9EE;

    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);

    width: 467px;
    height: 64px;

}

.landing-footer {
    background-image: url("../assets/landing-bg.png");
    width: 1200px;
    background-repeat:repeat-x;
    background-size:contain;
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -220px;
    background-size: 713px;
    display: flex;
    flex-flow: row;
}

.footer-text {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #E8F9EE;
    clear: both;
    position: relative;
    margin-top: 10px;
    margin-left: 170px;
    padding-top: 150px;

}

.footer-text-right {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #E8F9EE;

    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 150px;

}

.footer-text-right a:link, .footer-text-right a:visited, .footer-text-right a:active {
    color: white;
}

.landing-go-button {
    #display: flex;
    #flex-direction: row;
    #justify-content: center;
    #align-items: center;
    #padding: 12px;

    #position: absolute;
    width: 52px;
    height: 58px;
    #left: 623px;
    #top: 416px;
    #padding-top: 10px;
    #padding-bottom: 18px;

    /* Revert/Green */

    background: #14F46F;
    #border: 1px solid #8EF0B6;
    box-sizing: border-box;
    /* GreenBtn */

    #box-shadow: -2px -2px 6px rgba(20, 244, 111, 0.3), 3px 5px 8px rgba(0, 0, 0, 0.65), inset 2px 2px 2px rgba(50, 148, 90, 0.3), inset -1px -1px 0px #12E166;
    border-radius: 0px 8px 8px 0px;
    color: #031116;

    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-left:-8px;
    padding-top:0px;
    padding-bottom:0px;
}
.landing-input {
    background: #031116;
    /* Revert/Dark */

    border: 0px solid #031116;
    box-sizing: border-box;
    /* InputDark */
    height:60px;
    #box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 6px #1D3542, inset -1px -1px 6px #143B49, inset 2px 2px 4px rgba(0, 0, 0, 0.45);
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom:5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    #display: flex;
    #flex-direction:row-reverse;
    #justify-content: flex-end; 
}

.modal-main {
    #position:relative;
    background: white;
    width: 350px;
    height: 250px;
    #display: inline-block;
    #top:200px;
    #left:800px;
    #transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 30%; 
    margin-left: -175px;
    margin-top: -125px;
    background: rgba(0, 0, 0, 1);
    border: 0px solid #14F46F;;
    
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}



.login-options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style-type: none;
    margin: 1.25em 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

.login-options li {

    display: list-item;
    display: block;
    #height: 100px;
    line-height: 75px;

}

.login-options ul li img {

    vertical-align: middle;
}

.login-options a {
    text-decoration: none;
}


.gloss-item {
    padding-bottom:8px;
    color: white;
    width: 95%;
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #E8F9EE;
}

.gloss-word {
    color: #89A58E;
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 171% */

    letter-spacing: 0.005em;

    color: #89A58E;
    margin-bottom: 0px;
}

.pool-days-selector {
    float:right;
    margin-right: 0px;
    background-color: #000000;
    color: #657b83;
    #border: 0px solid #031116;
    padding: 12px;
    border-radius: 8px;
    padding-left:0px;
    padding-right:0px;

}


.pool-days-unselected {
    margin-left: 4px;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #000000;

    font-family: monospace, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Revert/SemiGreen */

    color: #89A58E;

    opacity: 0.7;
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;

}


.liquidity-actions {
    float:left;
    margin-right: 0px;
    background-color: #000000;
    color: #657b83;
    #border: 0px solid #031116;
    padding: 12px;
    border-radius: 8px;
    padding-left:0px;
    padding-right:0px;

}


a.liquidity-action:link, a.liquidity-action:visited {
    margin-left: 4px;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #000000;

    font-family: monospace, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Revert/SemiGreen */

    color:  #14F46F;

    opacity: 0.7;
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;

}


.pool-days-selected {
    background-color: rgba(20, 244, 111, 0.15);
    border: 1px solid #14F46F;

    color: #14F46F;

    opacity: 0.7;
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;

}

.link-selected {
    font-weight: bold;
    text-decoration: underline;
}

.button-selected {
    background-color: rgba(20, 244, 111, 0.15);
    border: 1px solid #14F46F;

    color: #14F46F;

    opacity: 0.79
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;

}


.button-unselected {
    margin-left: 4px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #000000;

    font-family: monospace, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height */


    /* Revert/SemiGreen */

    color: #89A58E;

    opacity: 0.9;
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;

}


.button-inactive {
    margin-left: 4px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #000000;

    font-family: monospace, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height */


    /* Revert/SemiGreen */

    color: #89A58E;

    opacity: 0.5;
    text-shadow: 0px 1px 6px #000000, 0px 0px 4px #000000;

}


.pair-title {/* UNI/ETH */

    font-family: monospace, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */
    letter-spacing: 0.005em;

    color: #FFFFFF;

    text-shadow: 0px 0px 8px rgba(20, 244, 111, 0.4);
}



#vg-tooltip-element  {
    background-color: #031116;
    color: #fff;
    text-color: #000;

}


.fee-tier-box {

    padding: 16px;

    background: #031116;
    /* Revert/Dark */

    border: 1px solid #031116;
    box-sizing: border-box;
    /* InputDark */

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7),
                -2px -2px 6px #1D3542,
                inset -1px -1px 6px #143B49,
                inset 2px 2px 4px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    width:235px;
    margin-top: 8px;
}

.fee-tier-box-selected {

    background: linear-gradient(180deg, #1E292D 0%, #031116 100%);
    /* Revert/Green */

    border: 1px solid #14F46F;
    box-sizing: border-box;
    box-shadow: 0px 8px 8px rgba(3, 17, 22, 0.5), 0px 4px 6px 1px rgba(20, 244, 111, 0.4), -2px -2px 6px #2C4737, inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 4px;

}

.fee-tier-box-disabled {

    /* gray/gray100 */

    background: #06171E;
    /* gray/gray80 */

    border: 1px solid #1A282D;
    border-radius: 10px;
    box-shadow: none;
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    /* gray/gray50 */

    color: #6A8582;

}

.fee-tier-link a:visited {
    text-decoration: none;
}
.fee-tier-link a:active {
    text-decoration: none;
}
.fee-tier-link a:hover {
    text-decoration: none;
}

.fee-tier-link a:hover {
    text-decoration: none;
}

.fee-tier-title {

    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 120% */

    letter-spacing: 0.005em;

    /* semi */

    color: rgba(232, 249, 238, 0.8);
    text-shadow: 0px 0px 8px rgba(20, 244, 111, 0.4);
    padding: 4px;
    padding-left: 0px;

}

.fee-tier-title-disabled {

    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */


    /* gray/gray60 */

    color: #475B60;


}

.fee-tier-title-selected {
    color: #14F46F;
}


.fee-tier-subtitle {
    padding:4px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: rgba(137, 165, 142, 0.8);
}

.fee-tier-value {
    padding:4px;
    padding-top: 1px;
    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* Revert/Light */

    color: #E8F9EE;
}


.qty-input {

    padding: 16px;
    margin-top: 6px;
    background: #031116;
    /* Revert/Dark */

    border: 1px solid #031116;
    box-sizing: border-box;
    /* InputDark */

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7),
                -2px -2px 6px #1D3542,
                inset -1px -1px 6px #143B49,
                inset 2px 2px 4px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    /* gray/dark */

    background: #031116;
    /* gray/gray80 */

    border: 1px solid #1A282D;
    box-sizing: border-box;
    /* InputDark */

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 6px #1D3542, inset -1px -1px 6px #143B49, inset 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: right;
    color: #fff;
}

.red {
    color: red;
}



.alert-danger {
    color: #fff;
    background-color: red;
    border-color: crimson;
}

.vega-embed.has-actions {
    padding-right: 0 !important;
}

.vega-embed summary {
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.range-button-right {
    color: #fff;
    background: #121F23;
    border: 1px solid #1A282D;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 6px #1D3542;
    border-radius: 0px 10px 10px 0px;
    margin-top:0px;
    padding: 6px;
    width: 40px;
    height: 40px;
}

.range-button-left {
    color: #fff;
    background: #121F23;
    /* gray/gray80 */

    border: 1px solid #1A282D;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 6px #1D3542;
    border-radius: 10px 0px 0px 10px;
    margin-top:0px;
    padding: 6px;
    width: 40px;
    height: 40px;
}

.price-input {
    /* gray/dark */
    padding: 19px;
    margin-top: 0px;

    background: #031116;
    /* gray/gray80 */

    border: 1px solid #1A282D;
    box-sizing: border-box;
    /* InputDark */

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 6px #1D3542, inset -1px -1px 6px #143B49, inset 2px 2px 4px rgba(0, 0, 0, 0.45);
    border-radius: 0px;

    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: right;
    color: #fff;
}


.initiator-subtitle {
    /* Body text/h2 - Medium header */

    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    letter-spacing: 0.005em;

    /* green/green30 */

    color: #4FF793;

}

.initiator-droptitle {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */


    color: #D3E0D9;

}

.initiator-instruction {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: 0.005em;

    /* gray/gray20 */

    color: #B7CBC1;
}

.initiator-subititle-small {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    color: rgba(137, 165, 142, 0.8);
    margin-bottom: 8px;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #14F46F;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 18px;
  width: 39px;
  border-radius: 7px;
  background: #8EF0B6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #14F46F;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #14F46F;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 18px;
  width: 39px;
  border-radius: 7px;
  background: #8EF0B6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;

}
input[type=range]::-ms-fill-lower {
    background: #14F46F;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #14F46F;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 18px;
  width: 39px;
  border-radius: 7px;
  background: #8EF0B6;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #14F46F;
}
input[type=range]:focus::-ms-fill-upper {
    background: #14F46F;
}

.initiator-slider {
    border: 0px;
}


a.range-link {
    color: #14F46F;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;

}


.view-title {
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height, or 145% */

    letter-spacing: 0.005em;

    color: #E8F9EE;

    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);
}



.tabs {
    font-family: Regio Mono. monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;

    /* semi */

    color: rgba(232, 249, 238, 0.8);
    background: #031116;
    /* Revert/Dark */

    border: 1px solid #031116;
    box-sizing: border-box;
    /* InputDark */

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 6px #1D3542, inset -1px -1px 6px #143B49, inset 2px 2px 4px rgba(0, 0, 0, 0.45);
    border-radius: 6px;

}


.nav-pills > li.active > a {
    background-color: #14F46F !important;
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #000000;


}


.nav-pills > li > a:hover {
    color: rgba(232, 249, 238, 0.8);
    background: #031116;
}


.run-backtester-button {

    /* blue/blue80 */

    background: #044A8A;
    /* blue/blue60 */

    border: 1px solid #077CE5;
    border-radius: 10px;
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* gray/white */

    color: #FFFFFF;
}

.run-backtester-button:hover {


    background: #044A8A;

    color: #FFF;
}


.initiator-button {
    background: #14F46F;
    /* green/green20 */

    border: 1px solid #ADFFCE;
    /* Action btn */

    box-shadow: -1px -1px 6px rgba(10, 216, 94, 0.7), 3px 5px 8px rgba(0, 0, 0, 0.65),
                inset 2px 2px 2px rgba(5, 108, 47, 0.3), inset -1px -1px 0px #07903F;
    border-radius: 10px;
    font-family: Regio Mono, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* Revert/Dark */

    color: #031116;

    opacity: 1;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

}

.initiator-button:hover {

    background: #14F46F;
    color: #031116;
}

.initiator-block {
    margin: 6px 2px 2px 20px;
}
